.box01 {
    width: 500px;
    height: 500px;
    background-color: gray;
}
.box01-1 {
    width: 50%;
    height: 50%;
    background-color: green;
}
/* 
1. [.box01-1]의 너비와 높이는 몇 px인가?
   ㄴ> 250

2. %는 무엇을 기준으로 계산되는가?
   ㄴ> [.box01]기준
*/