/* p = 1em, p의 부모요소 body = 16px  */
/* em: 부모요소에 의해 상대적으로 크기가 결정 */
div {
    font-size: 18px;
}
.p-1 {
    font-size: 2em;
}
.p-2 {
    font-size: 3em;
}
/* 
1. [.p-1], [.p-2]의 각 글자 크기는 몇 px인가?
   ㄴ> 36, 54

2. em은 무엇을 기준으로 계산되는가?
   ㄴ>p태그의 부모인 div의 font-size 기준
*/